<%= content_for :page_header do %>種目リスト<% end %>


<div class="types-list-wrapper ">
  <div class="container">
    <%= form_with url: menus_path do |f|  %>
      <div class="row types-list border-bottom">
        <% @types.each do |type| %>
          <div class="col-md-4">
            <div class="type-item border">
              <%= type.name %>
              <%= f.check_box "types[#{type.id}]", { checked: @user_type_ids.include?(type.id) }, type.id, "" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= f.submit "メニュー作成", data: { disable_with: "作成中..." }, class: "btn btn-primary" %>
    <% end %> 
  </div>
</div>