<%= content_for :page_header1 do %>追加された種目<% end %>
<%= content_for :page_header2 do %>週ごとのトレーニング回数<% end %>


<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="page-header text-dark border-bottom"><%= yield(:page_header1) %></h1>
    <% if @menu_items.count > 0  %>

      <div class="menu-wrapper text-center">
        <ul class="list-group menu-list mx-auto border-bottom">
          <% @menu_items.each do |item| %>
            <%= content_tag :div, item.name, class: "list-group-item text-center menu-list-item" %>
          <% end %>
        </ul>
        <p>
          <%= link_to '超回復済みメニューを見る', menu_of_recovered_parts_path, class: "btn btn-primary my-2" %>
        </p>
      </div>

    <% else %>

      <div class="mx-auto text-center" style="width: 500px">
        <p class="text-info">まだメニューが作成できていません。種目を選んで作成しましょう！</p>
        <%= link_to '種目リスト', types_list_path, class: "btn btn-primary my-2" %><br>
      </div>

    <% end %>
    </div>
    <div class="col">
      <h1 class="page-header text-dark border-bottom"><%= yield(:page_header2) %></h1>
      <%= form_with(model: @user, url: user_path(current_user.id)) do |f| %>
        <%= f.label User.human_attribute_name(:times_a_week) %>
        <%= f.number_field :times_a_week, in: 0..7 %>
        <p class="border-top" style="margin-top: 20px; padding-top: 20px">
          <%= f.submit "トレーニング回数を設定する", class: "btn btn-primary btn-outline" %>
        </p>
      <% end %>
    </div>
  </div>
</div>